{{define "nav"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/">İdarəetmə Paneli</a>
                </li>
                <li>
                    <a href="/campaigns">Kampaniyalar</a>
                </li>
                <li>
                    <a href="/groups">İstifadəçilər &amp; Qruplar</a>
                </li>
                <li> <a href="/templates">E-poçt Şablonları</a>
                </li>
                <li>
                    <a href="/landing_pages">Açılış Səhifələri</a>
                </li>
                <li>
                    <a href="/sending_profiles">Göndərmə Profilləri</a>
                </li>
                <li>
                    <a href="/settings">Hesab Tənzimləmələri</span></a>
                </li>
                {{if .ModifySystem}}
                <li>
                    <a href="/users">İstifadəçi İdarəetməsi<span class="nav-badge badge pull-right">Admin</span></a>
                </li>
                <li>
                    <a href="/webhooks">Webhook-lar<span class="nav-badge badge pull-right">Admin</span></a>
                </li>
                {{end}}
                <li>
                    <hr>
                </li>
                <li>
                    <a href="https://docs.getgophish.com/user-guide/">İstifadəçi təlimatı</a>
                </li>
                <li>
                    <a href="https://docs.getgophish.com/api-documentation/">API Sənədləri</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{{end}}